* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    background-color: #042940;
    color: white;
}

header {
    display: flex;
    padding: 0 50px;
    height: 100px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 50px;
    list-style: none;
}

.logo img {
    width: 70px;
}

.button.logout {
    height: 2.5em;
    width: 8em;
    border-radius: 10px;
    border: none;
    background-color: #E64A47;
    font: inherit;
    color: inherit;
}

.content {
    display: inherit;
    flex-direction: inherit;
    align-items: inherit;
    gap: 50px
}

.content .title {
    font-size: 1.4em;
}

.lessons-container {
    display: inherit;
    flex-direction: inherit;
    align-items: inherit;
    width: 100%;
    gap: 20px;
} 


.lesson {
    display: flex;
    align-items: center;
    background-color: #9FC131;
    width: 800px;
    height: 100px;
    padding: 50px;
}