* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #042940;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    color: white;
    height: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 30px;
    font-weight: bolder;
}

.lesson3-content, .item {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    border-radius: 20px;
}

.lesson3-content {
    padding: 20px;
}

.item {
    padding: 10px;
    background-color: #9FC131;
    gap: 20px;
}

.circles {
    width: 490px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 3px solid white; 
}

.circle.red {
    background-color: red;
}

.circle.yellow {
    background-color: yellow;
}

.circle.blue {   
    background-color: blue;
}

.circle.purple {
    background-color: purple;
}

.circle.orange {
    background-color: orange;
}

.circle.black {
    background-color: black;
}

.circle.white {
    background-color: white;
}

.circle.green {
    background-color: green;
}

.item.correct {
    background-color: darkgreen;
}

.item.incorrect {
    background-color: darkred;
}

.button {
    max-height: 50px;
    padding: 15px 32px;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #2fb5da, rgb(17, 25, 146));
    background-size: 200%;
    background-position: left;
    transition: background-position 1s;
 }

.button:hover {
    background-position: right;
}