body{
    background-color: #042940;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

*{
    font-family: sans-serif;
    box-sizing: border-box;
}

form{
    width: 400px;
    padding: 20px;
    background-color: #9FC131;
    border-radius: 15px;
}

h2{ 
    text-align: center;
    margin-bottom: 40px;
    color: white;
}

input{
    display: block;
    width: 65%;
    padding: 9px;
    margin: 5px ;
    border-radius: 5px;
}
label{
    color: white;
    font-size: 18px;
    padding:5px;

}
button{
    
    background:#E64A47 ;
   
    padding: 10px 15px;
    color: white;
    border-radius: 5px;
    margin-right: 200px;
    border: none;
}
button:hover{
    opacity: .7;

}